# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
/test/*/*

#Ignore database
/config/database.yml

/_config.yml

# Ignore cloudinary
/config/cloudinary.yml
/public/*/*
