<div class="row" id="filterrific_results">
  <div class="tab-content clearfix row">
    <div id="open" class="tab-pane fade">
      <div class="row">
        <% @events.each do |event| %>
          <% if event.is_open && event.date_start <= Date.today%>
            <%= render event %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="coming" class="tab-pane fade">
      <div class="row" id="row-coming">
        <% @events.each do |event| %>
          <% if event.is_open && event.date_start > Date.today %>
            <%= render event %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="close" class="tab-pane fade">
      <div class="row">
        <% @events.each do |event| %>
          <% if !event.is_open %>
            <%= render event %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 bottom-paginate">
      <%= paginate @events %>
    </div>
  </div>
</div>
