<div class="container event-index">
  <h1 class="text-center">Search result</h1>
  <h3 class="text-center">We have found <%= pluralize(@events_search.count, "event") %> for you!</h3>
  <hr>
  <div class = "row">
    <ul>
      <% @events_search.each do |event| %>
        <%= render event %>
      <% end %>
    </ul>
  </div>
</div>
