div.about-section {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 60px;

  section {
    padding: 30px 0 70px 0;
  }
}

h2.section-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-size: 40px;
  color: black;
}

.divider-header {
	display: block;
	width: 40px;
	height: 2px;
	margin: 0 auto;
  margin-bottom: 10px;
  background-color: black;
}

.divider-short {
	display: block;
	width: 60px;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#service {
  background-color: #f7f7f7;

  div.wow {
    background-color: white;
  }
}

#contact {
  background-color: #f7f7f7;
}

.text-center {
  padding-top: 30px;
}

.contactForm {
  margin-top: 20px;
}

div.item {
  img.img-responsive {
    padding: 25px;
    background-color: #f7f7f7;
  }
}

div.progress {
  div.progress-bar {
    p {
      padding-top: 5px;
      height: 100%;
      margin: 0;
    }
  }
  height: 35px;
}

p.member-name {
  margin: 10px 0;
  font-size: 20px;
}

.img-responsive {
  border-radius: 5px;
}
