@import 'custom';
@import 'variable_color';

div#shuffleImage {
  height: 450px;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}

#myCarousel {
  background: linear-gradient(to right, $carousel-bg1, $carousel-bg2);
  height: 100%;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.carousel-inner {
  height: 100%;
  position: relative;
  width: 100%;
  .item {
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

.carousel-caption {
  top: 40%;
  transform: translateY(-50%);

  h3 {
    color: white;
    font-family: 'Bungee Outline', cursive;
    font-size: 70px;
    letter-spacing: 4px;
    width: 100%;
  }

  p {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 25px;
  }
}

#shuffleImage .W2Gbutton {
  bottom:50px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.W2Gbutton {
  background:linear-gradient(to right, $w2g-btn1, $w2g-btn2);
  border-radius: 17px;
  border: 0.5px solid white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  outline: none;
  padding:7px 15px;
  z-index: 1000 !important;

  &:hover {
    box-shadow: 0px 2px 18px 0px $w2g-btn-hover;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
  }
}
