@import 'variable_color';

.event-index {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 80px;
}
.new-event {
  padding: 20px 0 150px 0;
}

.clear {
  background-color: transparent;
  border: none;
}

.hr-event {
  margin: 5px 0;
}

.count {
  margin: 0;
}

.date {
  font-size: 12px;
  margin: 3px 0;
  text-align: center;
}

.pagination {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
}

div.dropdown-filter {
  select {
    background: linear-gradient(to right, $signup-btn1, $signup-btn2);
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    color: white;
    cursor: pointer;
    height: 33px;
    outline: none;

    option {
      background-color: darkslategrey;
      color: white;
    }
  }

  input {
    border-radius: 8px;
    height: 33px !important;
    outline: none;
    padding: 0 10px;
  }
}

.reset-filter {
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0 0 15px;
}
