@import 'custom';
@import 'variable_color';
@import 'simplemde.min';

/* form */
input, textarea, select, .uneditable-input {
  @include box_sizing;
  border: 1px solid $light-gray;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

/* Sign-up Form */
.form-title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}

.signup-form {
  padding: 40px 0 150px 0;
}

.form-label {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 17px;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 13px;
  outline: none;
}

input[type=checkbox] {
  display:none;

  + label::before {
    content: "\f096";
    display: inline-block !important;
    font-family: FontAwesome;
    letter-spacing: 10px;
  }

  &:checked {
    + label::before {
      content: "\f046";
      display: inline-block !important;
      letter-spacing: 5px;
    }
  }
}

/* Login form */
.login-form {
  padding: 40px 0 150px 0;
}

.image-upload {
  input {
    display: none !important;
  }

  .file-input {
    padding: 4px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: grey;
      color: white;
      transition: all 0.5s;
    }
  }
}
