@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variable_color';

header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  height: 60px;
  letter-spacing: 1px;

  a.navbar-brand {
    padding: 0 0 0 30px;
  }
}

button{
  outline: none;
}

.navbar {
  border-radius: 0;
  border-style: none;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.search-form {
  height: 60px;
  padding-left: 110px;
  form {
    margin: 13px 0;

    input {
      border: none;
      border-bottom: 1px solid #e7eaeb;
      background-color: $nav-bg;
      border-radius: 0;
    }
  }
}

input#filter-autocomplete-search {
   &:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    border-bottom-color: white;
   }
}

input.search-btn {
  color: $silver;
  &:hover {
    background-color: $nav-bg;
    color: azure;
    transition: all 0.5s;
    border-bottom-color: white;
  }
}

.navbar-nav {
  li {
    a {
      line-height: 30px;
      padding: 15px 36px;
    }
  }
}

div.navbar-header {
  height: 60px;

  img {
    &:hover {
      opacity: 0.6;
      transition: all 0.5s;
    }
  }
}

.navbar-btn {
  background-color: $nav-bg;
  border-radius: 5px;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
  letter-spacing: 1px;
  margin: 13px 10px 0 20px;
  outline: 0;

  &:hover {
    background-color: $nav-bg-hover;
    border-color: $nav-border-hover;
    color: $nav-font-hover;
    outline: none;
    transition: all 0.5s;
  }
}

.signup {
  background:linear-gradient(to right, $signup-btn1, $signup-btn2);
}

.navbar-fixed-top {
  background-color:$nav-bg;
  .navbar-nav {
    li {
      a {
        color: white;

        &:visited {
          color: white;
        }

        &:hover {
          color: black;
          transition: all 0.5s;
        }
      }
    }
  }
  .navbar-toggle {
    margin-top: 13px;

    .icon-bar {
      background-color: white;
      color: white;
      height: 1px;
      margin-top: 6px;
    }
  }
}

nav.navbar{
  z-index: 6000 !important;
}

button.navbar-toggle{
  border-style: none;
}

ul.dropdown-menu {
  background-color: $nav-bg;
  border: none;
  padding: 0;

  li.divider {
    margin: 0;
  }
}

.dropdown-toggle {
  &:link {
    background-color: $nav-bg !important;
    color: white !important;
  }
  &:visited {
    background-color: $nav-bg !important;
  }
  &:hover {
    background-color: white !important;
    color: black !important;
    opacity: 0.9;
  }
}

.ui-autocomplete {
  position: absolute;
  z-index: 10000;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: white;
  li {
    padding: 3px 20px;
    &:hover {
      background-color: $alto;
    }
  }

  li.ui-state-focus {
    background-color: $alto;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}
