@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variable_color';

header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  height: 60px;
  letter-spacing: 1px;
}

button{
  outline: none;
}

.navbar {
  border-radius: 0;
  border-style: none;
  margin:0;
}

header a.navbar-brand {
  padding:0 0 0 30px;
}

.container-fluid {
  padding:0;
}

.navbar-nav>li>a {
  line-height: 30px;
  padding: 15px 30px;
}

div.navbar-header {
  height: 60px;
}

.navbar-brand {
  height: 100%;
}

.navbar-btn {
  background-color: $nav-bg;
  border-radius: 10px;
  border-radius: 3px;
  border:1px solid white;
  box-sizing: border-box;
  color: white;
  letter-spacing: 1px;
  margin:13px 10px 0 30px;
  outline: 0;
  padding-bottom: 7px;
  padding-top:7px;
}

.signup {
  background:linear-gradient(to right, $signup-btn1, $signup-btn2);
  margin-left: 10px;
  margin-right: 20px;
}

.navbar-btn:hover {
  background-color: $nav-bg-hover;
  border-color: $nav-border-hover;
  color: $nav-font-hover;
  outline: none;
  transition: all 0.5s;
}

.navbar-toggle {
  margin-top: 13px;
}

.navbar-fixed-top .navbar-nav>li>a {
  color: white;
}

.navbar-fixed-top .navbar-nav>li>a:visited {
  color: white;
}

.navbar-fixed-top .navbar-nav>li>a:hover {
  color: black;
  transition: all 0.5s;
}

.navbar-fixed-top{
  background-color:$nav-bg;
}

.navbar-brand img:hover{
  opacity: 0.6;
  transition: all 0.5s;
}

nav.navbar{
  z-index: 6000 !important;
}

button.navbar-toggle{
  border-style: none;
}

.navbar-toggle .icon-bar{
  color: white;
  height: 1px;
}

.navbar-toggle .icon-bar.icon-bar{
  margin-top: 6px;
}

.navbar-fixed-top .navbar-toggle:focus, .navbar-fixed-top .navbar-toggle:hover{
  background-color: $nav-toggle-focus;
}

.navbar-fixed-top .navbar-toggle .icon-bar{
  background-color: white;
}
