@import 'font-awesome';
@import 'variable_color';

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

.event_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fa-heart {
  color: #cc1e27;
  font-size: 30px !important;
  display: inline-block;
}

.fa-sign-in {
  font-size: 30px !important;
  width: 50%;
  margin: 0 auto;
  display: inline-block;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  text-align: center;
}

.avatar-placeholder {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.more {
  color: black;
  font-size: 15px;
}

img.event-banner {
  width: 100%;
  overflow: hidden;
}

.comment-avatar {
  object-fit: cover;
  width: 100px;
  height:100px;
}


.overview-card {
  margin: 0 auto;
}

.card {
  box-shadow: 0 1px 3px $black-russian, 0 1px 2px $stratos;
  margin-bottom: 1.875rem;
  position: relative;
  display: block;
  background-color: $signup-btn1;
  border: 1px solid rgba(0,0,0,.06);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px $black-russian-hover, 0 10px 10px $stratos-hover;
  }
}

.card-block {
  padding: 1.5rem;
}

.media-body {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  h2, h4 {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.statistic-header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 70px;
}

.chart-header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-top: 10px;
}

.media-right.icon {
  font-size: 90px;
  float: right;
  vertical-align: middle;
  margin-right: 5px;
  color: $mosque;
}


.profile-card {
  box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.2);
  max-width: 350px;
  margin: auto;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

.contributor-info {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 9px;
  color: white;
  background-color: $signup-btn1;
}

.to-top-btn {
  position:fixed;
  right:10px;
  bottom:10px;
  font-size: 40px;
  z-index: 10000;
}
