@import 'font-awesome';
@import 'variable_color';

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

.event_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fa-heart {
  color: #cc1e27;
  font-size: 30px !important;
  display: inline-block;
}

.fa-sign-in {
  font-size: 30px !important;
  width: 50%;
  margin: 0 auto;
  display: inline-block;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  text-align: center;
}

.more {
  color: black;
  font-size: 15px;
}

img.event-banner {
  width: 100%;
  overflow: hidden;
}

.status {
  background-color:transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  z-index: 1000;
  .closed {
    background-color: gray;
    padding:6px 10px;
  }

  .open {
    background-color:red;
    padding:6px 10px;
  }

  .soon {
    background-color: $cornflower-blue;
    padding: 6px 10px;
  }
}


.nav-tabs {
  border-bottom: 2px solid $alto;
  text-align:center;
  > li {
    float:none;
    display:inline-block;
    zoom:1;
    font-size: 20px;
    &.active {
      > a {
        border-width: 0;
        &:focus, &:hover {
          border-width: 0;
        }
      }

      > a {
        background: transparent;
        border: none;
        color: $cornflower-blue !important;
      }

      > a::after {
        transform: scale(1);
      }
    }

    > a {
      border: none;
      color: $dove-gray;
    }

    > a {
      &:hover {
        background: transparent;
        border: none;
        color: $cornflower-blue !important;
      }

      &::after {
        content: "";
        background: $cornflower-blue;
        bottom: -1px;
        height: 2px;
        left: 0px;
        position: absolute;
        transform: scale(0);
        transition: all 250ms ease 0s;
        width: 100%;
      }
    }

    &:hover > a::after {
      transform: scale(1);
    }
  }
}

.tab-nav > li > a::after {
  background: $blumine none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 15px 0;
}
