$body-bg: #E6E9EB;
$footer-bg: rgb(34, 41, 57);
$footer-font: rgb(153, 153, 153);
$nav-bg-hover:#142533;
$nav-bg: #2b2b2b;
$nav-border-hover: #d5d7cb;
$nav-font-hover: #d5d7cb;
$nav-toggle-focus: #191c1f;
$signup-btn1: rgba(30, 166, 184, 1);
$signup-btn2: rgba(8, 180, 132, 1);

$carousel-bg1: rgba(0, 0, 0, 0.7);
$carousel-bg2: rgba(30, 166, 184, 0.4);
$w2g-btn-hover: rgba(250, 250, 250, 0.35);
$w2g-btn1: rgba(30, 166, 184, 1);
$w2g-btn2: rgba(8, 180, 132, 1);

$bendetail-bg1: rgba(79, 201, 167, 0.1);
$bendetail-bg2: rgba(0, 0, 0, 1);
$content1-bg: #f6f7f6;
$content2-bg: #e7eaeb;
$event-time-bg: rgba(0, 0, 0, 0.3);

$light-gray: #bbb;
$event-creator-font: #1ea6b8;
$darkslategray: #3c3d41;
$dark: #333333;
$facebook: #4267b2;
$tomato: #ea4335;
$twitter: #4ab3f4;
$indian-red: #d84b6b;
$alto: #ddd;
$cornflower-blue: #4285F4;
$dove-gray: #666;
$blumine: #21527d;
