<div class="container-fluid admin-panel">
  <div class="wrapper">
    <div>
      <ul class="nav top-nav side-nav nav-tabs">
        <li class="active">
          <%= link_to admin_statistics_path do %>
            <i class="fa fa-fw fa-bar-chart-o"></i> Overview</a>
          <% end %>
        </li>
        <li>
          <%= link_to admin_events_path do %>
            <i class="fa fa-fw fa-calendar-check-o"></i> Events</a>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
            <i class="fa fa-fw fa-users"></i> Users</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
