<div class="container-fluid admin-panel">
  <div class="wrapper">
    <div>
      <ul class="nav top-nav side-nav nav-tabs">
        <li class="active">
          <%= link_to admin_events_path do %>
            <i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
            <i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
          <% end %>
        </li>
        <li>
          <a href="#menu2">
            <i class="fa fa-fw fa-table"></i> Tables</a>
        </li>
      </ul>
    </div>
  </div>
</div>
