<div class="container-fluid admin-panel">
  <div id="wrapper">
    <div>
      <ul class="nav top-nav side-nav nav-tabs">
        <li class="active">
          <a href="#home">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
          <a href="admin_user">
            <i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
        </li>
        <li>
          <a href="#menu2">
            <i class="fa fa-fw fa-table"></i> Tables</a>
        </li>
      </ul>
    </div>
  </div>
</div>
